spring.datasource.url=jdbc:mariadb://localhost:3306/memberlist
spring.datasource.username=root
spring.datasource.password=toor
#when running for the first time:
#spring.jpa.hibernate.ddl-auto=create
spring.jpa.hibernate.ddl-auto=update
logging.level.org.hibernate=ERROR
security.ignored=/**
spring.security.enabled=false
management.security.enabled=false
security.basic.enabled=false
spring.session.store-type=jdbc
jwt.signature.key=hello
jwt.signature.algorithm=HS512
email.apiKey=wqewqewqweeq
email.domain=qweqwqeqweqw
email.fromName=MemberList | ITÜK
email.fromEmail=dev.noreply@ituk.ee
